import net.jini.core.discovery.LookupLocator;
import com.skillcorp.bantam.service.discovery.BantamDiscoveryManager;
import com.skillcorp.bantam.service.discovery.RegistryLocator;

com.incax.tools.browser {
	
	discoveryManager=new 
		BantamDiscoveryManager(
				new String[]{},
				new LookupLocator[] {
						new RegistryLocator("http://bantam.skillcorp.com/bantam-examples/locator/")
				}, 
				null);
}
