/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import sorcer.jini.jeri.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.ex1.bean.*;
import sorcer.ex1.ui.*;

sorcer.core.provider.ServiceProvider {
        /* service provider generic properties */
		name = "Bean1-WhoIsIt?";
		description = "Example of a bean provider";
		publishedInterfaces = new Class[] { sorcer.ex1.WhoIsIt.class };
	
		// service beans	
		beanClasses = new Class[] { sorcer.ex1.bean.WhoIsItBean1.class }; 
			
		iconName="sorcer.jpg";
}
	



