/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names defined in the SORCER environmet
* and also defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.arithmetic.*;
import sorcer.arithmetic.ui.*;

sorcer.core.provider.ServiceProvider {
        /* service provider genetic properties */
		name = "Semismart Arithmetic";
		description = "Example of a SORCER smart proxy provider";
		location = "SORCER Lab, CP310 - CS TTU";
		publishedInterfaces = new String[] { "sorcer.arithmetic.Arithmetic" };
		entries = new Entry[] { ArithmeticUI.getUIDescriptor(), 
			ServiceProvider.getUIDescriptor(), 
			new Comment("It uses sorcer.arithmetic.Arithmometer for smart proxying"), 
			new Location("3", "310", "CP TTU") };

		spaceEnabled = false;
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// smart (semifat) proxy		
		smartProxy = new SemismartArithmometer();
		iconName="sorcer.jpg";
}
	

