/* 
* A SORCER Provider Jini configuration for the Artimetic Provider example.
* by Mike Sobolewski, sobol@cs.ttu.edu
*/

import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.arithmetic.*;

sorcer.core.provider.ServiceProvider {
		name="JRMP IC Arithmetic Example";
		publishedInterfaces = new String[] { "sorcer.arithmetic.ArithmeticRemote" };
		description = "Example of a SORCER JRMP provider";
		location = "SORCER Lab 20B - CS TTU";
		entries = new Entry[] {new Comment("TTU teaching example"), 
			new Location("3", "310", "CP TTU") };
        // if not declared the default exporter is BasicJeriExporter
        exporter = new JrmpExporter(0);
        //exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

