import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
	
com.sun.jini.start {
	home = "${iGrid.home}";
	policy = "${java.security.policy}";
	ps = System.getProperty("path.separator");
	
	// webster root directories
	sorcerLibPath 	= home + "${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath = home + "${/}lib${/}sorcer${/}lib-dl";
    jiniLibPath 	= home + "${/}lib${/}river${/}lib";
    jiniLibDLPath 	= home + "${/}lib${/}river${/}lib-dl";
    rioLibPath 		= home + "${/}lib${/}rio";
    deployPath 		= home + "${/}deploy";
    
	//port = Booter.getWebsterPort(); 
	port = 0;
	//address = Booter.getWebsterInterface();
	//startPort = Booter.getWebsterStartPort();
	//endPort = Booter.getWebsterEndPort();
    
    serviceDescriptors = new ServiceDescriptor[] {
        /* SORCER Webster, set to serve up root directories */
        // (String policy, int port, String[] roots, String address, int startPort, int endPort, boolean debug)
        SorcerDescriptorUtil.getWebster(policy, port,
                                         new String[] { sorcerLibPath,
                                         			    sorcerLibDlPath,
                                         			    jiniLibDLPath,
                                                        rioLibPath,
                                                        jiniLibPath,
                                                        deployPath }),

        new SorcerServiceDescriptor(
            "arithmetic-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}adder-prv.config" }),

		new SorcerServiceDescriptor(
            "arithmetic-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}multiplier-prv.config" }),

       new SorcerServiceDescriptor(
            "arithmetic-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
           policy,
            sorcerLibPath + "/arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
           new String[] { "..${/}configs${/}divider-prv.config" }),

       new SorcerServiceDescriptor(
            "arithmetic-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}arithmetic-beans.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}subtractor-prv.config" }),
 
    };
}
