/* 
* A SORCER Provider Jini configuration for the WhoIsIt Provider example.
*/
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.ex1.provider.*;
import java.util.logging.Level;

sorcer.core.provider.ServiceProvider {
		name="WhoIsIt?";
		description = "SORCER \"Who Is It?\" provider";
		location = "AFRL/WPAFB";
		entries = new Entry[] { 
			new Comment("Returns provider's host name and address"), 
			new Location("2", "218", "146") };
			
		// PULL execution related
		publishedInterfaces = new Class[] { sorcer.ex1.WhoIsIt.class };	
		spaceEnabled = true;
		
		remoteLogging = true;
		//remoteLgerName =
		//remoteLoggerManger =
		remoteLoggerLevel = Level.ALL;
		
		remoteContextLogging = true;
		remoteProviderLogging = true;
		
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        
        iconName="sorcer-ico-bw.png";
}
	

