/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import sorcer.jini.jeri.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.ex1.*;
import sorcer.ex1.bean.*;
import sorcer.ex1.ui.*;

sorcer.core.provider.ServiceProvider {
        /* service provider generic properties */
		name = "Bean2-WhoIsIt?";
		description = "Example of a bean provider";
		location = "AFRL/WPAFB";
		publishedInterfaces = new Class[] { sorcer.ex1.WhoIsIt.class };
		
		// add service UI
		//entries = new Entry[] { WhoIsItBean.getUIDescriptor(),  
		entries = new Entry[] { 
			new Comment("It uses ServiceUI for accessing beans"), 
			new Location("1", "218", "146-AFRL") };
			
		// local private logging available via by RmoteLogger
		remoteContextLogging = true;
		//remoteProviderLogging = true;
		
		// service beans	
		beanClasses = new Class[] { sorcer.ex1.bean.WhoIsItBean2.class }; 
		
		iconName="sorcer.jpg";
}
	



