/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names defined in the SORCER environmet
* and also defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.arithmetic.*;
import sorcer.arithmetic.ui.*;

sorcer.core.provider.ServiceProvider {
        /* service provider genetic properties */
		name = "RMI Server Arithmetic";
		description = "Example of a RMI server proxy provider";
		location = "SORCER Lab, CP310 - CS TTU";
		interfaces = new String[] { "sorcer.arithmetic.Arithmetic" };
		// add service UI
		entries = new Entry[] { ArithmeticUI.getUIDescriptor(), 
			new Comment("It uses sorcer.arithmetic.Arithmometer for smart proxying"), 
			new Location("3", "310", "CP TTU") };
		webster = "127.0.0.1";
		websterPort = 9000;
		spaceEnabled = false;
		// persist and reuse service ID
		
		providerIdPersistent = false;
		// RMI object	
		server = new RemoteArithmometer();
		// exported with
		//serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
		serverExporter = new JrmpExporter(0);
		
		iconName="sorcer.jpg";
}
	

