/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.arithmetic.provider.*;
import sorcer.arithmetic.ui.*;

sorcer.core.provider.ServiceProvider {
        /* service provider genetic properties */
		name = "R-S Model";
		description = "Rosen-Suzuki - scriplet provider";
		location = "OTM2010";
		publishedInterfaces = new String[] { "sorcer.arithmetic.provider.Adder" };
		
		spaceEnabled = true;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// service beans	
		scriplets = new String[] { "rsModel.groovy:rsConfiguration.groovy" }; 
		
		iconName="sorcer.jpg";
}
	



