import net.jini.core.discovery.LookupLocator;

import java.util.logging.ConsoleHandler;
import java.util.logging.Level;
import com.sun.rio.log.LoggerConfig;
import com.sun.rio.log.LoggerConfig.LogHandlerConfig;
import com.sun.rio.qos.Server;

com.sun.rio.cybernode {
    initialLookupGroups = new String[] {"sorcer.DEV", "public"};
    serviceName = "Cybernode";
    serviceComment = "Dynamic Agent";    

    loggerConfigs = new LoggerConfig[] {
        new LoggerConfig("com.sun.rio.cybernode",
                         Level.ALL,
                         false,
                         new LogHandlerConfig[] {
                             new LogHandlerConfig(new ConsoleHandler(), Level.FINE)
                         })
    };
}

com.sun.rio.boot {
    computeResourceType = new Server();
}

