import java.util.logging.ConsoleHandler;
import java.util.logging.Level;
import com.sun.rio.log.LoggerConfig;
import com.sun.rio.log.LoggerConfig.LogHandlerConfig;

com.sun.rio.monitor {
    initialLookupGroups = new String[] { "sorcer.DEV", "public"};
    serviceName = "Monitor";
    serviceComment = "Dynamic Provisioning Agent";

    loggerConfigs = new LoggerConfig[] {
        new LoggerConfig("com.sun.rio.monitor",
                         Level.ALL,
                         false,
                         new LogHandlerConfig[] {
                             new LogHandlerConfig(new ConsoleHandler(), Level.ALL)
                         })
    };
}

