import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static policy = "${RIO_HOME}${/}policy${/}policy.all";    
    private static port = "9080";

    private static codebaseBase = ConfigUtil.concat(new Object[] {
                                                        "http://", 
                                                        ConfigUtil.getHostName(), 
                                                        ":", 
                                                        port,
                                                        "/"});

    private static reggieCodebase = ConfigUtil.concat(new Object[] { 
                                                          codebaseBase,
                                                          "reggie-dl.jar"});
    private static reggieClasspath = "${JINI_HOME}${/}lib${/}reggie.jar";
    private static reggieConfig = "${SORCER_HOME}${/}conf${/}jrmp-reggie.config";    

    private static monitorCodebase = ConfigUtil.concat(new Object[] { 
                                                           codebaseBase,
                                                           "monitor-dl.jar"});    
    private static monitorClasspath = "${RIO_HOME}${/}lib${/}monitor.jar";
    private static monitorConfig = "${SORCER_HOME}${/}conf${/}monitor.config";

    static serviceDescriptors = new ServiceDescriptor[] {
        /* Rio Provision Monitor */
        new NonActivatableServiceDescriptor(monitorCodebase, 
                                            policy, 
                                            monitorClasspath,
                                            "com.sun.rio.monitor.ProvisionMonitorImpl",
                                            new String[] {monitorConfig})
        /* Jini Lookup Service */
     /*   new NonActivatableServiceDescriptor(reggieCodebase, 
                                            policy, 
                                            reggieClasspath,
                                            "com.sun.jini.reggie.TransientRegistrarImpl",
                                            new String[] {reggieConfig}) */
    };    

}
