import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static port = "9080";
    private static policy = "${RIO_HOME}${/}policy${/}policy.all";    
    private static cybernodeClasspath = "${RIO_HOME}${/}lib${/}cybernode.jar";
    private static cybernodeCodebase = ConfigUtil.concat(new Object[] {
                                                             "http://", 
                                                             ConfigUtil.getHostName(), 
                                                             ":", port,
                                                             "/cybernode-dl.jar"});
    private static cybernodeConfig = "${SORCER_HOME}${/}conf${/}start-cybernode.config";

    static serviceDescriptors = new ServiceDescriptor[] {
        /* Rio Cybernode */
        new NonActivatableServiceDescriptor(cybernodeCodebase, 
                                            policy, 
                                            cybernodeClasspath,
                                            "com.sun.rio.cybernode.CybernodeImpl",
                                            new String[] {cybernodeConfig})
    };    

}
