/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.core.context.model.explore.*;
import sorcer.vfe.*;

sorcer.core.provider.ServiceProvider {
      /* service provider genetic properties */
		name = "Rosen-Suzuki Explorer";
		description = "Rosen-Suzuki nonlinear exploration";
		location = "CE2013";
		publishedInterfaces = new Class[] { sorcer.vfe.Exploration.class };
		
		// service beans	
		beanClasses = new Class[] { sorcer.core.context.model.explore.Explorer.class }; 
		
		iconName="sorcer.png";
}
	



