/* 
* A SORCER Provider Jini configuration for the Artimetic Provider example.
* by Mike Sobolewski, sobol@cs.ttu.edu
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.ssl.*;
import net.jini.constraint.*;
import net.jini.core.constraint.*;
import javax.security.auth.login.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.provider.arithmetic.jeri.ssl.*;
import com.sun.jini.config.KeyStores;

sorcer.core.provider.ServiceProvider {
		name="Secure Service UI Arithmetic Example";
		interfaces = new String[] { "sorcer.arithmetic.ArithmeticRemote" };
		description = "Example of a SORCER JERI provider";
		location = "SORCER Lab 20B - CS TTU";
		entries = new Entry[] { 
			sorcer.provider.arithmetic.jeri.ssl.ArithmeticProviderImpl.getSecureUIDescriptor(),
			new Comment("TTU teaching example"), 
			new Location("3", "310", "CP TTU") };
     
     	/* Keystore for getting principals */
   		private static requestors =
        	KeyStores.getKeyStore("file:../configs/ssl-jeri-arithmetic-prv.truststore", null);
   		private static requestor = 
        	KeyStores.getX500Principal("requestor", requestors);
     	
        //Configuring the service to use the appropiate transport which, in this case, is SSL. 
        exporter = new BasicJeriExporter(
        	SslServerEndpoint.getInstance(0), 
        	new BasicILFactory(
        		new BasicMethodConstraints(
        			new InvocationConstraints(
        				new InvocationConstraint[] {
        					//ClientAuthentication.YES,
        					//new ClientMinPrincipal(requestor)
        					},
        				(InvocationConstraint[]) null)),
        			/* No permission */
        			null
        		)
        	);
        
        // Login conetxt defined in configs/ssl-jeri-arithmetic-prv.login
        loginContext = new LoginContext("sorcer.provider.arithmetic.jeri.ssl.ArithmeticProvider");
        
        iconName="sorcer.jpg";
}
	

