import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.model.geometry.*;
	
com.sun.jini.start {
	home = "${iGrid.home}";
	policy = "${java.security.policy}";
	ps = System.getProperty("path.separator");
	
	// webster root directories
	sorcerLibPath 	= home + "${/}lib${/}sorcer${/}lib";
 	sorcerLibDlPath = home + "${/}lib${/}sorcer${/}lib-dl";
    jiniLibPath 	= home + "${/}lib${/}river${/}lib";
    jiniLibDLPath 	= home + "${/}lib${/}river${/}lib-dl";
    rioLibPath 		= home + "${/}lib${/}rio";
    deployPath 		= home + "${/}deploy";
    httpData 		= home + "${/}data";
     
	//port = Booter.getWebsterPort(); 
	port = 0;
	//address = Booter.getWebsterInterface();
	//startPort = Booter.getWebsterStartPort();
	//endPort = Booter.getWebsterEndPort();
    
    serviceDescriptors = new ServiceDescriptor[] {
        /* SORCER Webster, set to serve up root directories */
        // (String policy, int port, String[] roots, String address, int startPort, int endPort, boolean debug)
        SorcerDescriptorUtil.getWebster(policy, port,
                                         new String[] { sorcerLibPath,
                                         			    sorcerLibDlPath,
                                         			    jiniLibDLPath,
                                                        rioLibPath,
                                                        jiniLibPath,
                                                        deployPath,
                                                        httpData }),

		new SorcerServiceDescriptor(
            "rect-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}rect.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}rect-model-prv.config" }),

	   new SorcerServiceDescriptor(
            "rect-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}rect.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}contextualRect-bean.config" }),
            
       new SorcerServiceDescriptor(
            "rect-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
           policy,
            sorcerLibPath + "${/}rect.jar",
            "sorcer.model.geometry.ContextualRectTasker",
           new String[] { "..${/}configs${/}contextualRect-tasker.config" }),

       new SorcerServiceDescriptor(
            "rect-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}rect.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}parametricRect-bean.config" }),
 
 	   new SorcerServiceDescriptor(
            "rect-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}rect.jar",
            "sorcer.model.geometry.ParametricRectTasker",
            new String[] { "..${/}configs${/}parametricRect-tasker.config" }),
           
        new SorcerServiceDescriptor(
            "circle-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}circle.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}contextualCircle-bean.config" }),
            
       new SorcerServiceDescriptor(
            "circle-dl.jar sorcer-prv-dl.jar jsk-dl.jar",
            policy,
            sorcerLibPath + "${/}circle.jar",
            "sorcer.core.provider.ServiceTasker",
            new String[] { "..${/}configs${/}parametricCircle-bean.config" })
 
    };
}
