/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import java.util.logging.*;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.model.geometry.*;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "Parametric Rect Tasker";
		description = "Rectangle Tasker- service provider";
		location = "AFRL";
		publishedInterfaces = new Class[] { sorcer.model.geometry.ParametricRect.class, sorcer.model.geometry.RemoteParametricRect.class };
		
		iconName="sorcer.jpg";
}
	



