/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.vfe.*;
import sorcer.model.geometry.*;

sorcer.core.provider.ServiceProvider {
		// service provider properties
   		// properties = "../configs/rect-model.properties";
    
        // service provider deployment configuration
		name = "Rect Parametric Model";
		description = "walkthrough using simple rectangular geometry for testing";
		location = "No location";
		publishedInterfaces = new Class[] { sorcer.vfe.ParametricModeling.class };
		
		// service beans	
		dataBeans = new Object[] { sorcer.model.geometry.RectModelBuilder.getParametricModel() }; 
		
		iconName="sorcer.jpg";
}