/* 
* A SORCER Provider Jini configuration for the Artimetic Provider example.
* by Mike Sobolewski, sobol@cs.ttu.edu
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.provider.arithmetic.jeri.*;

sorcer.core.provider.ServiceProvider {
		name="JERI Arithmetic Example";
		publishedInterfaces = new String[] { "sorcer.arithmetic.ArithmeticRemote" };
		description = "Example of a SORCER JERI provider";
		location = "SORCER Lab 20B - CS TTU";
		entries = new Entry[] { 
			ArithmeticProviderImpl.getComponentUIDescriptor(),
			//ArithmeticProviderImpl.getFrameUIDescriptor(),
			new Comment("TTU teaching example"), 
			new Location("3", "310", "CP TTU") };
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

