import net.jini.core.discovery.LookupLocator;

import net.jini.core.entry.Entry;

import org.dancres.blitz.jini.lockmgr.JiniConfig;

org.dancres.blitz.jini.lockmgr {
       networkConfig =
            new JiniConfig(new String[] {"JERI_Group0", "JERI_Group1"},
                           new LookupLocator[] {},
                           new Entry[] {},
                           "lockmgr_group1");
}