import java.security.Permission;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.*;
import net.jini.security.BasicProxyPreparer;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.security.AuthenticationPermission;

client.ServiceUIProxyPreparer{
	preparer = new BasicProxyPreparer(
		true,
		new BasicMethodConstraints(
				new InvocationConstraints(
					new InvocationConstraint[]{
						Integrity.YES,
						ClientAuthentication.YES,
						ServerAuthentication.YES
						//Delegation.YES
					},
					null
				)
		),
		new Permission[]{
			new AuthenticationPermission("javax.security.auth.x500.X500Principal \"CN=Abhijit\"","connect")
		}
	);
}

						
	
	