import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {
    private static codebase = "${sorcer.http.codebase}/outrigger-dl.jar";
    private static policy = "${java.security.policy}";
    private static classpath = "${jini.home}/lib/outrigger.jar";
    private static config = "${iGrid.config}/jiniservices.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.outrigger.TransientOutriggerImpl",
                         new String[] { config })
    };
}
