import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static codebaseBase = "${sorcer.http.codebase}";
    private static codebase = ConfigUtil.concat(new Object[] {
	        codebaseBase, "mahalo-dl.jar", " ",
	        codebaseBase, "jsk-dl.jar"
	    });
    private static policy = "${java.security.policy}";
    private static classpath = "${jini.home}/lib/mahalo.jar";
    private static config = "${iGrid.config}/jiniservices.config";

    static serviceDescriptors = new ServiceDescriptor[] {
                new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.mahalo.TransientMahaloImpl",
                         new String[] { config })
    };
}
