/*
 * Configuration for the Viewer
 */
org.jini.rio.utilities.viewer {
    initialLookupGroups = new String[] {"all"};
    //initialLookupGroups = new String[] {"${user.name}"};
}


/*
 * Configuration for the Service Statement Viewer
 */
org.jini.rio.utilities.ssv {
    initialLookupGroups = new String[] {"all"};
    //initialLookupGroups = new String[] {"${user.name}"};
}


/*
 * Configuration for the SLA Event Viewer
 */
org.jini.rio.utilities.slav {
    initialLookupGroups = new String[] {"rio"};
    //initialLookupGroups = new String[] {"${user.name}"};
}

/*
 * Configuration for the OpMonitor
 */
org.jini.rio.utilities.opmon {
    initialLookupGroups = new String[] {"rio"};
    //initialLookupGroups = new String[] {"${user.name}"};
}

