/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names defined in the SORCER environmet
* and also defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.arithmetic.*;
import sorcer.arithmetic.ui.*;
import sorcer.func.*;

sorcer.core.provider.ServiceProvider {
        /* service provider genetic properties */
		name = "Expression Exvaluator";
		description = "Example of a SORCER smart proxy provider";
		location = "SORCER Lab, CP310 - CS TTU";
		publishedInterfaces = new String[] { "sorcer.func.Evaluation" };
		entries = new Entry[] { //FuncEvaluatorUI.getUIDescriptor(), 
			ServiceProvider.getUIDescriptor(), 
			new Comment("It uses sorcer.arithmetic.Arithmometer for smart proxying"), 
			new Location("3", "310", "CP TTU") };
		webster = "127.0.0.1";
		websterPort = 9000;
		spaceEnabled = false;
		// persist and reuse service ID
		providerIdPersistent = false;
		// smart (semifat) proxy		
		smartProxy = new FuncEvaluator();
}
	

