/** Sorcer Provider configuration file */

import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;

sorcer.core.provider.ServiceProvider {
	name="SORCER-Caller";
	publishedInterfaces = new String[] { "sorcer.core.Caller" };
	description = "A SORCER provider for executing system call tasks";
	location = "SORCER Lab 20B - CS TTU";
	
	iconName="sorcer.jpg";
	
	//Exertion Space (JavaSpaces configuration)
    spaceEnabled = true;
    interfaceOnly = true;
    //workersTransactional = false;
	
	// service provider properties
    properties = "../configs/jeri-caller-prv.properties";

    // if not declared the default exporter is BasicJeriExporter
    // exporter = new JrmpExporter(0);
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());

    // Sorcer service beans exposed by this service provider
	//beans = new String[] { ... }	
}


