import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static codebase="${provider.codebase}";
    private static policy = "..${/}policy${/}auditor.policy";
    private static classpath = "${provider.classpath}";
    private static config =    "..${/}configs${/}auditor.config";
    private static impl = "${provider.impl}";

    static serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            codebase, policy, classpath,
            impl,
            new String[] { config }
        )
    };

}//end com.sun.jini.start

